.card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	align-content: center;
	justify-content: center;
	width: 98%;
	padding: 2%;
}

.read-the-docs {
	color: #888;
}

.BOX {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	align-content: center;
	justify-content: center;
	width: 98vw;
}

.Left,
.Center,
.Right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	align-self: center;
	align-content: center;
	justify-content: center;
	width: 33%;
	height: 80vh;
	border: 1px solid black;
	padding: 2%;
	text-align: justify;
}

button {
	width: 65%;
	height: 5%;
	border: 1px solid gray;
	text-align: center;
}

.Btn_Reg {
	width: 100%;
	height: 10%;
	border: 1px solid gray;
	text-align: center;
}

button:hover {
	background-color: gray;
	color: black;
	font-weight: 500;
}

input
{
	height: 10%;
}

form
{
	margin-top: -20%;
}